<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title honey hunters
		link(rel="stylesheet", href="libs/normalize-css/normalize.css")
		link(rel="stylesheet", href="libs/bootstrap-4-grid/grid.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		header.section-header
			.container
				.row
					.col-md-4
						.logo
							img(src="img/logo.png", alt="logotype")
		.section-form
			.container
				.row.mb-5
					.col-6.col-md-3.m-auto
						.form__header.m-auto
							img(src="img/letter-icon.png", alt="letter-icon")
				form.form-comments
					.row.mb-90
						.form-group.col-12.col-md-5
							.title-6 Имя 
								span *
							input(name="name")
							.title-6 E-Mail 
								span *
							input(name="email")
						.col-12.col-md-6.offset-md-1
							.title-6 Комментарий 
								span *
							textarea(name="message")
					.row.mb-90
						.col-md-3.offset-md-9
							input(type="submit" name="send-comment" value="Записать").button
		.section-comments
			.container
				.row
					.title-2 Выводим комментарии
				.row
					.col-md-4.comments
						.comment
							.comment__header Вася
							.comment__body
								.comment__email vasya@mail.ru
								.comment__message Сообщение от Василия Пупкина
					.col-md-4.comments
						.comment
							.comment__header Маруся
							.comment__body
								.comment__email marusya@mail.ru
								.comment__message Сообщение от Василия Пупкина
					.col-md-4.comments
						.comment
							.comment__header Вася
							.comment__body
								.comment__email vasya@mail.ru
								.comment__message Сообщение от Василия Пупкина
					.col-md-4.comments
						.comment
							.comment__header Вася
							.comment__body
								.comment__email vasya@mail.ru
								.comment__message Сообщение от Василия Пупкина
					.col-md-4.comments
						.comment
							.comment__header Маруся
							.comment__body
								.comment__email marusya@mail.ru
								.comment__message Сообщение от Василия Пупкина
					.col-md-4.comments
						.comment
							.comment__header Вася
							.comment__body
								.comment__email vasya@mail.ru
								.comment__message Сообщение от Василия Пупкина
		footer.section-footer
			.container
				.row
					.logo
					.social-icons

